<app-header></app-header>

<section class="container">
  <div class="row top-30">
    <div class="col-sm-3">
      <app-callouts></app-callouts>
    </div>
    <div class="col-sm-9 order-first">
      <p><a href="/home">Home</a> / Consumer Lending</p>
      <h1 class="primary"><i class="fas fa-clipboard-list"></i><span class="left-10">Visa Credit Cards</span></h1>
      <hr style="background: #FF5722">
      <h4 class="secondary">We offer VISA Credit Cards for added flexibility and convenience.</h4>
      <ul>
        <li>No fee balance transfers</li>
        <li>Fraud protection</li>
        <li>Low interest rate</li>
        <li>No annual fee</li>
        <li>25 day grace period on purchases</li>
      </ul>
      <p>If you believe your Credit Card has been compromised call the number on the back of your card at
        1-800-247-4222 or call the Natrium Employees Federal Credit Union at 304-455-6719 during business hours. </p>
    </div>
  </div>
</section>

<app-footer></app-footer>
