<app-header></app-header>

<section class="container">
  <div class="row top-30">
    <div class="col-sm-3">
      <app-callouts></app-callouts>
    </div>
    <div class="col-sm-9 order-first">
      <p><a href="/home">Home</a> / Rates</p>
      <h1 class="primary"><i class="fas fa-clipboard-list"></i><span class="left-10">Share Rates</span></h1>
      <hr style="background: #FF5722">
      <div class="table-responsive">
        <table class="table table-sm">
          <thead class="thead-dark">
            <th scope="col"></th>
            <th scope="col">Rate</th>
            <th scope="col">APY*</th>
          </thead>
          <tbody>
            <tr>
              <h5 class="padding-top-10">Share Savings</h5>
            </tr>
            <tr>
              <td>$5.00 to $4,999.99</td>
              <td>.10%</td>
              <td>.10%</td>
            </tr>
            <tr>
              <td>$5,000.00+</td>
              <td>.10%</td>
              <td>.10%</td>
            </tr>
            <tr>
              <h5 class="padding-top-10">Share Certificates*</h5>
            </tr>
            <tr>
              <td>6 month certificate</td>
              <td>.35%</td>
              <td>.35%</td>
            </tr>
            <tr>
              <td>9 month certificate</td>
              <td>.35%</td>
              <td>.35%</td>
            </tr>
            <tr>
              <td>12 month certificate</td>
              <td>.65%</td>
              <td>.65%</td>
            </tr>
            <tr>
              <td>24 month certificate</td>
              <td>.75%</td>
              <td>.75%</td>
            </tr>
            <tr>
              <td>36 month certificate</td>
              <td>.875%</td>
              <td>.875%</td>
            </tr>
            <tr>
              <p class="tidbit">*minimum deposit of $1,000.00<br>penalty for early withdrawal: loss of previous three
                months dividends</p>
            </tr>
            <tr>
              <h5 class="padding-top-10">Share Certificates for members age 18 and under</h5>
            </tr>
            <tr>
              <td>6 month certificate</td>
              <td>.35%</td>
              <td>.35%</td>
            </tr>
            <tr>
              <td>9 month certificate</td>
              <td>.35%</td>
              <td>.35%</td>
            </tr>
            <tr>
              <td>12 month certificate</td>
              <td>.65%</td>
              <td>.65%</td>
            </tr>
            <tr>
              <td>24 month certificate</td>
              <td>.75%</td>
              <td>.75%</td>
            </tr>
            <tr>
              <td>36 month certificate</td>
              <td>.875%</td>
              <td>.875%</td>
            </tr>
            <tr>
              <p class="tidbit">
                minimum deposit of $1,000.00<br>
                penalty for early withdrawal: loss of previous three months dividends<br>
                <strong>Share drafts (checking accounts)</strong><br>
                No dividend paid<br>
                No minimum balance fees
              </p>
            </tr>
            <tr>
              <h5>Christmas Club Accounts</h5>
            </tr>
            <tr>
              <td>Start October 15</td>
              <td>.25%</td>
              <td>.25%</td>
            </tr>
            <tr>
              <p class="tidbit">Withdrawals may be made on the account during the year for a $10.00 service charge.</p>
            </tr>
            <tr>
              <h5>Vacation Club Accounts</h5>
              <td>.25%</td>
              <td>.25%</td>
            </tr>
            <tr>
              <p class="tidbit">
                All rates are subject to change without prior notice<br>
                APY = Annual Percentage Yield<br><br>
                January 1 - December 31<br>
                Four withdrawals per calendar year. Penatly for extra withdrawals: $10.00 per extra withdrawal
              </p>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
