<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/home">
    <h4 class="title">Natrium Employees FCU</h4>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="savingsDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Products & Services
        </a>
        <div class="dropdown-menu" aria-labelledby="savingsDropdown">
          <a class="dropdown-item" href="/shareSavings">Share (Savings) Accounts</a>
          <a class="dropdown-item" href="/christmasClub">Christmas Club Accounts</a>
          <a class="dropdown-item" href="/vacationClub">Vacation Club Accounts</a>
          <a class="dropdown-item" href="/shareCertificates">Share Certificates</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="ratesDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Rates
        </a>
        <div class="dropdown-menu" aria-labelledby="ratesDropdown">
          <a class="dropdown-item" href="/shareRates">Share</a>
          <a class="dropdown-item" href="/loanRates">Loan</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="moneyDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Money Management
        </a>
        <div class="dropdown-menu" aria-labelledby="moneyDropdown">
          <a class="dropdown-item" href="/shareDraftChecking">Share Draft (Checking)</a>
          <a class="dropdown-item" href="/debitCards">Debit Cards</a>
          <a class="dropdown-item" href="/payrollDeduction">Payroll Deduction</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="consumerDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Consumer Lending
        </a>
        <div class="dropdown-menu" aria-labelledby="consumerDropdown">
          <a class="dropdown-item" href="/securedLending">Secured Lending</a>
          <a class="dropdown-item" href="/visaCreditCards">Visa Credit Card</a>
          <a class="dropdown-item" href="/personalLoans">Personal Loans</a>
          <a class="dropdown-item" href="/sharedSecuredLoans">Share Secured Loans</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="memberDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Other Products & Services
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="memberDropdown">
          <!-- <a class="dropdown-item" href="#">Form, Fees, and Disclosures</a> -->
          <a class="dropdown-item" href="/helpfulLinks">Helpful Links</a>
          <a class="dropdown-item" href="/otherServices">Other Services</a>
        </div>
      </li>
    </ul>
  </div>
</nav>