<footer class="footer-distributed">
  <div class="footer-left">
    <h3>Natrium<span>EFCU</span></h3>
    <p class="footer-links">
      <a href="/assets/membership-agreement.pdf" target="_blank">Account Agreement</a>
      |
      <a href="/assets/nefcu-member-notice.pdf" target="_blank">Member Notice</a>
      |
      <a href="/assets/elec-funds-transfer-agreement.pdf" target="_blank">eTransfer Agreement</a>
    </p>
    <p class="footer-company-name">All Rights Reserved © {{year}} Natrium Employees Federal Credit Union</p>
    <img class="ncua-logo" src="assets/images/ncua.jpg">
  </div>
  <div class="footer-center">
    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>15710 Energy Road</span> Proctor, West Virginia, 26055</p>
    </div>
    <div>
      <i class="fa fa-phone"></i>
      <p>(304) 455-4452</p>
    </div>
    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:NatriumEFCU@hotmail.com">NatriumEFCU@hotmail.com</a></p>
    </div>
    <div>
      <i class="fa fa-map-marker-alt"></i>
      <p><span>P.O. Box 168</span> Proctor, West Virginia, 26055</p>
    </div>
  </div>
  <div class="footer-right">
    <p class="footer-company-about">
      <span>About the company</span>
      Established in September of 1984 for the use and convenience of employees for PPG/Natrium Plant.
    </p>
    <div class="footer-icons">
      <a href="https://www.facebook.com/profile.php?id=100003973842693" target="_blank"><i class="fab fa-facebook"></i></a>
    </div>
  </div>
</footer>