<app-header></app-header>

<section class="container">
  <div class="row top-30">
    <div class="col-sm-3">
      <app-callouts></app-callouts>
    </div>
    <div class="col-sm-9 order-first">
      <p><a href="/home">Home</a> / Apply Now</p>
      <h1 class="primary"><i class="fas fa-clipboard-list"></i><span class="left-10">Eligibility Requirements</span></h1>
      <hr style="background: #FF5722">
      <p>
        It's easy to join Bayer Heritage Federal Credit Union if you are eligible! Just open a Share Account with a
        $5.00
        deposit and you are a member with all the benefits and privileges.
      </p>
      <h4 class="secondary">Membership Eligibility Requirements</h4>
      <ul>
        <li>Employees of Bayer Corporation that are specifically named in the NHFCU Charter</li>
        <li>Immediate family of existing members. </li>
        <li>Individuals who live, work, worship or attend school in, or businesses and other legal entities located in
          <ul>
            <li>Wetzel County, WV</li>
            <li>Tyler County, WV</li>
            <li>Monroe County, WV</li>
          </ul>
        </li>
        <li>Individuals who live, work, worship or attend school in, or businesses and other legal entities located in
          specific areas* of the following counties
          <ul>
            <li>Marshall County, WV</li>
            <li>Blemont County, OH</li>
            <li>Licking County, OH</li>
            <li>Berkeley County, SC</li>
            <li>Charleston County, SC</li>
            <li>Muskingum County, OH</li>
          </ul>
        </li>
      </ul>
      <p>*Specific Areas: Please contact your local branch of the Credit Union for specific areas in the listed
        counties.</p>
      <h4 class="secondary">Member Identification Disclosure</h4>
      <p>To help the government fight the funding of terrorism and money laundering activities, Federal law requires
        all financial institutions to obtain, verify, and record information that identifies each person who opens an
        account. All persons are subject to the identity verification requirements even though they may be a long-term
        member of and well known to the institution.</p>
      <p>What this means for you: When you open an account, Bayer Heritage FCU will request documentary verification of
        your identity, such as a driver’s license or passport and/or it will verify your identity through other
        documentary methods.</p>
    </div>
  </div>
</section>

<app-footer></app-footer>
