<div>
  <img class="o-border" width="100%" src="assets/images/home-for-sale.jpg" />
  <hr style="background: #FF5722">
  <p class="text-center">Check our <a href="https://www.facebook.com/profile.php?id=100003973842693" target="_blank">Facebook page</a>, on-line and at the Credit Union for any property that
    may be available for sale.</p>
</div>
<div>
  <img class="o-border" width="100%" src="assets/images/check.jpg" />
  <hr style="background: #FF5722">
  <p class="text-center">We no longer provide Money Orders or Cashier's Checks but we do have Credit Union checks that
    can written against your account. For more information stop or call the Credit Union.</p>
</div>
<div>
    <img class="o-border" width="100%" src="assets/images/mail.jpg" />
  <hr style="background: #FF5722">
  <p class="text-center">For those of you who cannot make it to the Credit Union during normal business hours, we have
    a
    night drop on the front door of the building for your added convenience.</p>
</div>