<app-header></app-header>

<section class="container">
  <div class="row top-30">
    <div class="col-sm-3">
      <app-callouts></app-callouts>
    </div>
    <div class="col-sm-9 order-first">
      <p><a href="/home">Home</a> / Consumer Lending</p>
      <h1 class="primary"><i class="fas fa-clipboard-list"></i><span class="left-10">Share Secured Loans</span></h1>
      <hr style="background: #FF5722">
      <p>A shared secured loan is one that uses the assets in a share account, otherwise known as a savings account, to
        back up the loan. When you take out a shared secured loan, the equivalent assets within your savings account
        are frozen and become available again as you pay off the loan.</p>
      <h4 class="secondary">There are some great benefits to a Share Secured Loan:</h4>
      <ul>
        <li>They are a great way to build credit and typically relatively easy to qualify for since you use your
          funds to secure the loan the risk to your financial institution is minimal.</li>
        <li>Give you extra incentive to repay the loan: as you repay the loan it will free up those monies in your
          savings allowing you to rebuild your savings account.</li>
        <li>Share Secured Loans can be used for any purpose.</li>
        <li>Share Secured Loans will typically give you the best interest rate, with a lower interest rate you save
          substantially in interest payments. </li>
      </ul>
    </div>
  </div>
</section>

<app-footer></app-footer>
