<app-header></app-header>

<section class="container">
  <div class="row top-30">
    <div class="col-sm-3">
      <app-callouts></app-callouts>
    </div>
    <div class="col-sm-9 order-first">
      <p><a href="/home">Home</a> / Products & Services</p>
      <h1 class="primary"><i class="fas fa-clipboard-list"></i><span class="left-10">Share (Savings) Account</span></h1>
      <hr style="background: #FF5722">
      <p>We offer our members share savings accounts. Deposits into these accounts are regarded as "shares" since the
        holders of the account are owners or a member of the credit union.</p>
      <p>Share accounts are opened to establish your membership into the credit union and must maintain a $5.00
        balance. Once your account is opened it allows you the opportunity to take advantage of all the other services
        this credit union offers.</p>
      <p>This also makes you eligible to volunteer for a seat on our board of directors and to vote in our annual
        elections held each year at our annual meeting to appoint leadership.</p>
      <p>As a member, this automatically makes your immediate family (i.e., mother, father, brother, sister, spouse,
        and children) eligible for membership and gives them the ability
        to take advantage of our services.</p>
      <h4 class="secondary">"SHARE" SAVINGS is a great way to start building you savings and preparing for your future.</h4>
      <p>Your share savings account is your “share” in our credit union, plus a great tool to jump start your savings!</p>
      <ul>
        <li>$5.00 minimum balance</li>
        <li>Dividends posted quarterly</li>
        <li>No monthly maintenance fee</li>
        <li>Individual deposit accounts covered by NCUA up to $250,000</li>
      </ul>
    </div>
  </div>
</section>

<app-footer></app-footer>
