<app-header></app-header>

<section class="container">
  <div class="row top-30">
    <div class="col-sm-3">
      <app-callouts></app-callouts>
    </div>
    <div class="col-sm-9 order-first">
      <p><a href="/home">Home</a> / Other Products & Services</p>
      <h1 class="primary"><i class="fas fa-clipboard-list"></i><span class="left-10">Other Services</span></h1>
      <hr style="background: #FF5722">
      <h4 class="secondary">Bill Payer</h4>
      <p>Monthly bill paying at a charge of $20.00 per month. Bill must be presented to the Credit Union at least 10
        days prior to the due date. Checks will be issued against your account and mailed to the proper creditor.</p>
      <h4 class="secondary">Skip A Pay</h4>
      <p>Skip a loan payment one time per year, per loan. A $20.00 fee will be assessed on each loan skipped. One month
        notice prior required when opting to participate in this program. No limit on the number of loans to be
        skipped.</p>
      <h4 class="secondary">Voice Response System</h4>
      <p>We have an audio teller that is available 24 hours a day for your added convenience.</p>
      <ul>
        <li>Call 304-455-4881 and enter your pass code information.</li>
        <li>If you do not have a pass code, contact the Credit Union to have one set up.</li>
      </ul>
      <h4 class="secondary">Other Available Services</h4>
      <ul>
        <li>Notary Services</li>
        <li>Discount Tickets - Amusement Parks</li>
      </ul>
    </div>
  </div>
</section>

<app-footer></app-footer>
