<app-header></app-header>

<section class="container">
  <div class="row top-30">
    <div class="col-sm-3">
      <app-callouts></app-callouts>
    </div>
    <div class="col-sm-9 order-first">
      <p><a href="/home">Home</a> / Consumer Lending</p>
      <h1 class="primary"><i class="fas fa-clipboard-list"></i><span class="left-10">Visa Credit Cards</span></h1>
      <hr style="background: #FF5722">
      <p>Our debit cards look like a VISA credit card but works just like writing a "draft" from your share draft
        account. Use your card at any merchant that accepts VISA and your transaction will be automatically debited
        from your share draft account.
      </p>
      <p>
        We offer Visa EMV Debit Cards for your added security. The new EMV Chip cards make it virtually impossible to
        counterfeit and make travel much easier with acceptance at over 130 countries worldwide. EMV chip cards do
        everything a magnetic reader card will do but with added security, plus you are covered by VISA'S Zero
        Liability Policy*.
      </p>
      <p class="tidbit">*VISA'S ZERO LIABILITY POLICY DOES NOT APPLY TO CERTAIN COMMERCIAL CARD AND ANONYMOUS PREPAID
        CARD TRANSACTIONS
        OR TRANSACTIONS NOT PROCESSED BY VISA. CARDHOLDERS MUST USE CARE IN PROTECTING THEIR CARD AND NOTIFY THEIR
        ISSUING FINANCIAL INSTITUTION IMMEDIATELY OF ANY UNATHORIZED USE. </p>
    </div>
  </div>
</section>

<app-footer></app-footer>
