<app-header></app-header>

<section class="container">
  <div class="row top-30">
    <div class="col-sm-3">
      <app-callouts></app-callouts>
    </div>
    <div class="col-sm-9 order-first">
      <p><a href="/home">Home</a> / Money Management</p>
      <h1 class="primary"><i class="fas fa-clipboard-list"></i><span class="left-10">Share Draft (Checking)</span></h1>
      <hr style="background: #FF5722">
      <p>Your Share Draft Account in a Credit Union refers to the equivalent of a traditional checking account in a
        bank. A Share Draft allows you to write a "draft" from your account either traditionally with a check or with a
        debit card. Two types of agreements are offered:</p>
      <h4 class="primary">Share Draft Agreement</h4>
      <p>If a member has the Share Draft Agreement, there will be a $25 charge per draft that is returned for NSF
        (Non-Sufficient Funds). If the member is notified and funds are transferred from another account, the fee is
        still applied.</p>
      <h4 class="primary">Share Draft Agreement with Overdraft Transfer Clause</h4>
      <p>If the Overdraft Transfer Clause is selected, and the member has the funds available in a Natrium Employees
        Federal Credit Union savings account, funds will be automatically transferred from savings to share drafts. A
        fee of $5 per day of needed transfer will apply.</p>
      <h4 class="secondary">Important features in Share Draft Checking:</h4>
      <ul>
        <li>No minimum balance</li>
        <li>No service charge</li>
        <li>We offer Debit Cards at no additional fee</li>
        <li>Overdraft Protection Option</li>
        <li>Convenient check reorder</li>
      </ul>
    </div>
  </div>
</section>

<app-footer></app-footer>
