<app-header></app-header>

<section class="container">
  <div class="row top-30">
    <div class="col-sm-3">
      <app-callouts></app-callouts>
    </div>
    <div class="col-sm-9 order-first">
      <p><a href="/home">Home</a> / Rates</p>
      <h1 class="primary"><i class="fas fa-clipboard-list"></i><span class="left-10">Loan Rates</span></h1>
      <div class="table-responsive">
        <table class="table table-sm">
          <thead class="thead-dark">
            <th scope="col"></th>
            <th scope="col">Term</th>
            <th scope="col">Rate</th>
          </thead>
          <tbody>
            <tr>
              <h5 class="padding-top-10">New Autos/New Motorcycles</h5>
              <td>Up to 60 months</td>
              <td>Contact the Credit Union for current rates</td>
            </tr>
            <tr>
              <td class="border-top-none"></td>
              <td>72 Months</td>
              <td>Contact the Credit Union for current rates*</td>
            </tr>
            <tr>
              <td class="border-top-none"></td>
              <td>84 Months</td>
              <td>Contact the Credit Union for current rates*</td>
            </tr>
            <tr>
              <p class="tidbit">
                Includes current model year<br>
                *72 and 84 month terms available only when financing $20,000 or more<br>
                Must have 20,000 miles or less
              </p>
            </tr>
            <tr>
              <h5 class="padding-top-10">Used Autos/Used Motorcycles</h5>
              <td>Up to 60 months</td>
              <td>Contact the Credit Union for current rates</td>
            </tr>
            <tr>
              <td class="border-top-none"></td>
              <td>Up to 72 months</td>
              <td>Contact the Credit Union for current rates*</td>
            </tr>
            <tr>
              <p class="tidbit">
                Includes autos/motorcycles 3-10 years old<br>
                *72 and 84 month terms available only when financing $20,000 or more<br>
                Must meet NADA Retail value
              </p>
            </tr>
            <tr>
              <td>10 years and older</td>
              <td>Up to 48 months</td>
              <td>Contact the Credit Union for current rates</td>
            </tr>
            <tr>
              <td class="border-top-none"></td>
              <td>Up to 60 months</td>
              <td>Contact the Credit Union for current rates*</td>
            </tr>
            <tr>
              <p class="tidbit">
                *60 month terms available only when financing $20,000 or more<br>
                Must meet NADA Retail value
              </p>
            </tr>
            <tr>
              <h5 class="padding-top-10">Classic Cars</h5>
              <td>Up to 48 months</td>
              <td>Contact the Credit Union for current rates</td>
            </tr>
            <tr>
              <p class="tidbit">
                Must provide current picture and meet NADA retail value
              </p>
            </tr>
            <tr>
              <h5 class="padding-top-10">Boats</h5>
            </tr>
            <tr>
              <td>New Boats <span class="tidbit">(Will loan 100% of selling price)</span></td>
              <td>48 months</td>
              <td>Contact the Credit Union for current rates</td>
            </tr>
            <tr>
              <td class="border-top-none"></td>
              <td>60 months</td>
              <td>Contact the Credit Union for current rates</td>
            </tr>
            <tr>
              <td class="border-top-none"></td>
              <td>72 months</td>
              <td>Contact the Credit Union for current rates</td>
            </tr>
            <tr>
              <td>New Boats <span class="tidbit">(Must meet NADA retail value)</span></td>
              <td>24 months</td>
              <td>Contact the Credit Union for current rates</td>
            </tr>
            <tr>
              <td class="border-top-none"></td>
              <td>48 months</td>
              <td>Contact the Credit Union for current rates</td>
            </tr>
            <tr>
              <h5>New Motor Homes/Camping Trailers</h5>
            </tr>
            <tr>
              <td class="border-top-none"></td>
              <td>36 months</td>
              <td>Contact the Credit Union for current rates</td>
            </tr>
            <tr>
              <td class="border-top-none"></td>
              <td>48 months</td>
              <td>Contact the Credit Union for current rates</td>
            </tr>
            <tr>
              <td class="border-top-none"></td>
              <td>60 months</td>
              <td>Contact the Credit Union for current rates</td>
            </tr>
            <tr>
              <td class="border-top-none"></td>
              <td>72 months</td>
              <td>Contact the Credit Union for current rates</td>
            </tr>
            <tr>
              <td class="border-top-none"></td>
              <td>90 months</td>
              <td>Contact the Credit Union for current rates</td>
            </tr>
            <tr>
              <td class="border-top-none"></td>
              <td>120 months*</td>
              <td>Contact the Credit Union for current rates</td>
            </tr>
            <tr>
              <p class="tidbit">
                INCLUDES current model year plus two previous years<br>
                *120 month term available only when financing over $25,000
              </p>
            </tr>
            <tr>
              <h5>Used Motor Homes/Camping Trailers</h5>
            </tr>
            <tr>
              <td>Up to five years old</td>
              <td>84 months</td>
              <td>Contact the Credit Union for current rates*</td>
            </tr>
            <tr>
              <td class="border-top-none"></td>
              <td>Up to 72 months</td>
              <td>Contact the Credit Union for current rates</td>
            </tr>
            <tr>
              <td>Five - Nine years old</td>
              <td>72 months</td>
              <td>Contact the Credit Union for current rates*</td>
            </tr>
            <tr>
              <td>Ten years old and older</td>
              <td>60 months</td>
              <td>Contact the Credit Union for current rates*</td>
            </tr>
            <tr>
              <p class="tidbit">
                *84 month terms only available when financing $20,000 or more
              </p>
            </tr>
            <tr>
              <h5>ATV's/4-Wheelers/Recreational Vehicles</h5>
            </tr>
            <tr>
              <td>New <span class="tidbit">(Will loan 100% of selling price)</span></td>
              <td>Up to 72 months*</td>
              <td>Contact the Credit Union for current rates</td>
            </tr>
            <tr>
              <td>Used <span class="tidbit">(Used rates will be at NADA retail value)</span></td>
              <td>60 months</td>
              <td>Contact the Credit Union for current rates</td>
            </tr>
            <tr>
              <p class="tidbit">
                Financing $20,000 or more
              </p>
            </tr>
            <tr>
              <h5>Farm Equipment</h5>
            </tr>
            <tr>
              <td>New <span class="tidbit">(Will loan 100% of selling price)</span></td>
              <td>60 months</td>
              <td>Contact the Credit Union for current rates</td>
            </tr>
            <tr>
              <td>Financing over $20,000</td>
              <td>84 months</td>
              <td>Contact the Credit Union for current rates</td>
            </tr>
            <tr>
              <td>Financing over $25,000</td>
              <td>120 months</td>
              <td>Contact the Credit Union for current rates</td>
            </tr>
            <tr>
              <h5 class="padding-top-10">Used</h5>
            </tr>
            <tr>
              <td>Financing over $10,000</td>
              <td>48 months</td>
              <td>Contact the Credit Union for current rates</td>
            </tr>
            <tr>
              <td class="border-top-none"></td>
              <td>60 months</td>
              <td>Contact the Credit Union for current rates</td>
            </tr>
            <tr>
              <td>Financing over $20,000</td>
              <td>72 months</td>
              <td>Contact the Credit Union for current rates</td>
            </tr>
            <tr>
              <h5 class="padding-top-10">Personal Loans</h5>
            </tr>
            <tr>
              <td>Maximum to $10,000</td>
              <td>12 months</td>
              <td>Contact the Credit Union for current rates</td>
            </tr>
            <tr>
              <td class="border-top-none"></td>
              <td>24 months</td>
              <td>Contact the Credit Union for current rates</td>
            </tr>
            <tr>
              <td class="border-top-none"></td>
              <td>36 months</td>
              <td>Contact the Credit Union for current rates</td>
            </tr>
            <tr>
              <td class="border-top-none"></td>
              <td>48 months</td>
              <td>Contact the Credit Union for current rates</td>
            </tr>
            <tr>
              <p class="tidbit">
                Maximum unsecured credit allowable for a member with a 1 credit rating will be $10,000.00<br>
                Maximum unsecured credit allowable for a member with a 2 credit rating will be $5,000.00<br>
                Maximum unsecured credit allowable for a member with a 3 credit rating will be $2,500.00<br>
                Maximum unsecured credit allowable for a member with a 4 credit rating will be $1,500.00<br>
                A rating of 5 or above will be granted no more than $500.00<br>
                Credit ratings to applied are those that have been incurred in the last two years
              </p>
            </tr>
            <tr>
              <h5>Shared Secured Loans</h5>
            </tr>
            <tr>
              <td>Rate above last dividend paid to shares</td>
              <td>72 months</td>
              <td>Contact the Credit Union for current rates</td>
            </tr>
            <tr>
              <p class="tidbit">
                Limited to amount of shares pledged in share account or certificate
              </p>
            </tr>
            <tr>
              <h5 class="padding-top-10">Debt Consolidation Loan</h5>
            </tr>
            <tr>
              <td>Up to $15,000.00</td>
              <td>Up to 60 months</td>
              <td>Contact the Credit Union for current rates</td>
            </tr>
            <tr>
              <h5 class="padding-top-10">Christmas Loan</h5>
            </tr>
            <tr>
              <td>Up to $1,000.00</td>
              <td>10 months</td>
              <td>Contact the Credit Union for current rates</td>
            </tr>
            <tr>
              <td>$1,000.00 to $2,00.00</td>
              <td>10 months</td>
              <td>Contact the Credit Union for current rates</td>
            </tr>
            <tr>
              <h5 class="padding-top-10">Vacation Loan</h5>
            </tr>
            <tr>
              <td>Up to $2,000.00</td>
              <td>12 months</td>
              <td>Contact the Credit Union for current rates</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
