<app-header></app-header>

<section class="container">
  <div class="row top-30">
    <div class="col-sm-3">
      <app-callouts></app-callouts>
    </div>
    <div class="col-sm-9 order-first">
      <p><a href="/home">Home</a> / Money Management</p>
      <h1 class="primary"><i class="fas fa-clipboard-list"></i><span class="left-10">Payroll Deduction</span></h1>
      <hr style="background: #FF5722">
      <p>Payroll deduction is a great tool in allocating funds from your paycheck directly to your accounts or to a
        loan. </p>
      <h4 class="secondary">Payroll deduction allows you to:</h4>
      <ul>
        <li>Have peace of mind that should you be unable to get to the Credit Union your payments are still on time.</li>
        <li>Let's you "pay yourself first" by putting money directly into your savings.</li>
      </ul>
      <p class="tidbit">*Payroll deduction and Direct Deposit are two different entities. In Direct Deposit your entire
        payroll check would be deposited as directed. </p>
    </div>
  </div>
</section>

<app-footer></app-footer>
