<app-header></app-header>

<section class="container">
  <div class="row top-30">
    <div class="col-sm-3">
      <app-callouts></app-callouts>
    </div>
    <div class="col-sm-9 order-first">
      <p><a href="/home">Home</a> / Products & Services</p>
      <h1 class="primary"><i class="fas fa-clipboard-list"></i><span class="left-10">Share Certificates</span></h1>
      <hr style="background: #FF5722">
      <h4 class="secondary">What is a Share Certificate?</h4>
      <p>A Share Certificate is a certificate of deposit issued by a credit union. It represents a deposit that is made
        for a certain period of time that earns specified dividends over that period.</p>
      <h4 class="secondary">What does it do?</h4>
      <p>Put your money to work for you! Share Certificates give you an opportunity to invest your
        money into higher yield accounts with short term commitments available.</p>
      <p>Share Certificates gives you a guaranteed rate of return on your investment. You pick the term, rate, and
        deposit amount and as long as you do not withdraw the funds you're able to calculate what dividends you will
        earn. Guaranteed!</p>
      <p>With short term and extended terms you are able to pick the best option that works for you. And of course, the
        longer the term the higher the rate!</p>
      <ul>
        <li>Terms from 6 months to 3 years</li>
        <li>Initial investment $1,000 -- Minors can start with as little as $100</li>
        <li>Penalty for early withdraw</li>
        <li>Insured by NCUA up to $250,000 per account holder.</li>
      </ul>
    </div>
  </div>
</section>

<app-footer></app-footer>
