.bgimage {
  width: 100%;
  height: 100vh;
  background: url('assets/images/bk.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

.jumbotron {
  margin-bottom: 0 !important;
  padding-top: 0;
}

.b-left {
  border-left: 2px solid #FF5722;
}

.b-bottom {
  border-bottom: 2px solid #FF5722;
}

.b-top {
  border-top: 2px solid #FF5722;
}

.b-right {
  border-right: 2px solid #FF5722;
}

.container {
  height: 100%;
}

.row {
  height: 100%;
}

.top-20 {
  padding-top: 20px;
}

.bottom-20 {
  padding-bottom: 20px;
}

.shadow-font {
  font-family: 'Shadows Into Light', cursive;
}

.meet-us-img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.meet-us-text {
  padding: 0 125px;
}

.carousel-indicators li {
  background-color: rgba(0, 0, 0, .7);
}

.carousel-indicators .active {
  background-color: #FF5722 !important;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%22222' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%22222' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-inner img {
  margin: auto;
}

@media (max-width: 880px) {
  #carousel-section {
    display: none;
  }
  .b-left {
    border-left: none;
  }
  
  .b-bottom {
    border-bottom: none;
  }

  .welcome-text {
    font-size: 4rem;
  }

  .bgimage {
    background-size: 300% 100%;
    background-attachment: initial;
  }

  .promo {
    width: 100%;
  }
}